<launch>
    <rosparam command = "load" file = "$(find platforms_server)/config/vision_config.yaml" />
    <rosparam command = "load" file = "$(find platforms_server)/config/robot_config.yaml" />
    <rosparam command = "load" file = "$(find platforms_server)/config/mqtt_config.yaml" />
    <rosparam command = "load" file = "$(find platforms_server)/config/path_planner_config.yaml" />

    <node pkg="platforms_server" name="vrep_communicator_node" type="vrep_communicator_node.py" output="screen"/>
    <node pkg="platforms_server" name="robot_motion_node" type="robot_motion_node.py" output="screen"/>
</launch>
